<section class="todo-login-form">
  <div class="bg-warning todo-login-errors todo-error-block">
    <header><h4></h4></header>
    <section>
      <p></p>
    </section>
  </div>
  <div class="bg-success todo-login-success todo-error-block"> <!-- FIXME: rename todo-error-block to todo-message-block -->
    <header><h4></h4></header>
    <section>
      <p></p>
    </section>
  </div>
  <input type="hidden" name="todo_login_mode" value="" />
  <div class="form-group">
    <label for="username">
      Username
    </label>
    <input
       class="form-control"
       type="text"
       name="username"
       placeholder="Enter your username"
       value=""/>
  </div>
  <div class="form-group todo-register-form">
    <label for="email">
      E-Mail
    </label>
    <input
       class="form-control"
       type="text"
       name="email"
       placeholder="Enter your e-Mail address"
       value=""/>
  </div>
  <div class="form-group">
    <label for="password">
      Password
    </label>
    <input
       class="form-control"
       type="password"
       name="password"
       value=""/>
  </div>
  <div class="form-group todo-register-form">
    <label for="password_confirm">
      Confirm your password
    </label>
    <input
       class="form-control"
       type="password"
       name="password_confirm"
       value=""/>
  </div>
  <div class="form-group todo-login-form-buttons">
    <button id="todo_login" type="submit" class="btn btn-primary">Login</button>
    <button id="todo_show_register_form" type="submit" class="todo-show-register-form btn btn-success">Register</button>
  </div>
  <div class="form-group todo-register-form todo-register-form-buttons">
    <button id="todo_register" type="submit" class="btn btn-success">Register</button>
  </div>
</section>
