<nav class="navbar todo-nav" role="navigation">
  <a id="todo_logout" href="#" class="btn btn-sm btn-danger navbar-right">Logout</a>
</nav>
<section id="todo_main_form">
</section>
<section>
  Sort:
  <button id="todo_sort_due" class="btn btn-sm">
    By Due Date
    <span class="todo-sort-direction"></i>
</button>
<button id="todo_sort_priority" class="btn btn-sm">
  By Priority
  <span class="todo-sort-direction"></i>
</button>
</section>
<section>
  <div id="todo_list"></div>
</section>
