<div class="form-group">
  <input
     class="todo-title form-control input-lg <%= options.editMode ? 'todo-title-edit' : '' %>"
     type="text"
     name="todo_item_title"
     placeholder="<%= options.modelDefaults.title %>"
     <% if (model.title) { %>value="<%= model.title %>"<% } %>>
</div>
<% if (options.editMode !== true) { %>
<button class="todo-advanced-toggle btn btn-warning" href="#">Advanced Options <span class="caret"></span></button>
<fieldset class="todo-advanced-options" style="display: none;">
<% } %>
  <div class="form-group col-md-6">
    <label for="todo_item_priority">
      Priority
      <select name="todo_item_priority" class="todo-priority form-control">
        <% _.each(options.priorities, function (val, idx) { %>
        <option
           value="<%= val %>"
           <% if (model.priority) { %>
           <%= val == model.priority ? 'selected' : ''%>
           <% } else { %>
           <%= val == 'normal' ? 'selected' : ''%>
           <% } %>>
          <%= val %>
          </option>
        <% }); %>
      </select>
    </label>
  </div>
  <div class="form-group col-md-6">
    <label for="todo_item_due">
      Due Date
      <input class="todo-due form-control" type="datetime-local" name="todo_item_due" value="<%= model.due %>">
    </label>
    <span><small>Format: DD-MM-YYYY HH:mm.</small></span>
  </div>
<% if (options.editMode !== true) { %>
</fieldset>
<% } else { %>
<button class="todo-cancel-update btn btn-warning">Cancel</button>
<% } %>
<button class="todo-<%= options.editMode ? 'update' : 'commit' %> btn btn-primary">
  <%= options.saveLabel %>
</button>
