<div class="todo-wrapper <%= model.status ? 'todo-done' : '' %> bg-<%= options.priorityStyle %>">
  <section class="todo-view">
    <header>
      <h2 class="<% status ? '' : 'text-muted' %>"><%= model.title %></h2>
    </header>
    <section class="todo-meta">
      <% if (model.due) { %>
      <span class="todo-view-due text-<%= options.dueStyle %> col-md-6 col-sm-12">
        Due:
        <time datetime="<%= options.dueISO %>">
          <%= options.dueIN %>
        </time>
      </span>
      <% } %>
    <span class="todo-view-priority text-<%= options.priorityStyle %> <% model.due ? 'col-md-6 col-sm-12' : ''%>">
      Priority: <%= model.priority %>
    </span>
    </section>
    <section class="todo-button-box">
      <% if (model.status) { %>
      <button class="reopen btn btn-primary">Reopen</button>
      <% } else { %>
      <button class="complete btn btn-success">Complete</button>
      <button class="update btn btn-warning">Update</button>
      <% } %>
      <button class="destroy btn btn-danger">Remove</button>
    </section>
    <footer>
      <p>
        <small>Added: <%= options.added %>. Updated: <%= options.updated %>.</small>
      <p>
    </footer>
  </section>
  <section class="todo-edit"></section>
</div>
