.wrapper {
    max-width: 536px;
    margin: 0 auto;
    padding: 0.5em;
}

.todo-login-form {
    margin: 0 auto;
}

.todo-error-block {
    display: none;
}

.todo-error-block h4 {
    margin: 0 0 10px 0;
}

section {
    margin-bottom: 1em;
}

.todo-error-block section {
    margin-bottom: 0;
}

.todo-main-header h1 small {
    white-space: nowrap;
}

.todo-title {
    margin: 2% 4%;
    width: 92%;
}

.todo-title-edit {
    margin: 0;
    width: 100%;
}

.todo-advanced-options {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
}

.todo-priority, .todo-priority option {
    text-transform: capitalize;
}

.todo-wrapper, .todo-error-block {
    border: 1px solid #BBB;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.todo-view h2 {
    margin-top: 10px;
}

.todo-view-priority {
    font-weight: bold;
    text-transform: capitalize;
}

.todo-view-due {
    font-weight: bold;
}

.todo-done {
    background-color: #DDD;
}

.todo-done h2 {
    text-decoration: line-through;
}

/* Login form fields hidden by default */

.todo-register-form {
    display: none;
}

